.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'search'
    'results';
  align-items: center;
  gap: 16px;
  padding: 0 20px;
}
